<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
  <!-- 필요한 스타일 시트와 스크립트를 로드할 수 있습니다. -->
</head>
<body>
<div class="container my-3">
  <div class="my-3 border-bottom">
    <div>
      <h4>회원가입</h4>
    </div>
  </div>
  <form th:action="@{/user/signup}" method="post" th:object="${userCreateForm}" >

    <div class="mb-3">
      <label for="username">사용자ID</label> <!-- th:field="*{username}" -->
      <input type="text"  name="username" id="username" class="UserController">
    </div>

    <div class="mb-3"> <!-- th:field="*{password1}" -->
      <label for="password1" class="form-label">비밀번호</label>
      <input type="password" name = "password1" id="password1" class="UserController">
    </div>

    <div class="mb-3"> <!-- th:field="*{password2}" -->
      <label for="password2" class="form-label">비밀번호 확인</label>
      <input type="password" name="password2" id="password2" class="UserController">
    </div>

    <div class="mb-3"> <!-- th:field="*{email}" -->
      <label for="email" class="form-label">이메일</label>
      <input type="email" name='email' id="email" class="UserController">
    </div>

    <button type="submit" class="btn btn-primary">회원가입</button>
  </form>
</div>
</body>
</html>
